/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
main{
	max-width: 1140px;
	margin:auto;
}
#header {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin:50px auto;

}
#blackBar{
	display: none;
	gap: 10px;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: #FFF;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
	height: 59px;
}
section {
	margin: 50px 0
}
a{
	text-decoration: none;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: black;
}

li :hover{
	font-weight: bold;
}

 footer li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#prj-mdf{
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 25px;
}
#modifier{
	display: none;
	gap: 8px;
	color: black;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}
#btn{
	display: flex;
	justify-content: center;
}
.btn-flitre{
	border-radius: 60px;
	border: 1px solid #1D6154;
	background: white;
	color:#1D6154;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	font-family: 'Syne';
	margin-right: 10px;
	padding: 6px 20px;
	margin-bottom: 40px;
	margin-top: 25px;
}
.btn-flitre:hover{
	background-color:#1D6154;
	color:white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
} 
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/**************************** page Modal **************************** */
.modal{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	max-width: 100vw;
 	max-height: 100vh;
}
.modal-wrapper{
	background-color: white;
	width: 600px;
	height: 600px;
	overflow: hidden;
	padding: 1px;
  	border-radius: 10px;
}
/* bouton pour sortir de la page Modal */
 #eject{
	display: flex;
	justify-content: flex-end;
	background-color: #1D6154;
	margin: 0;
 }
 .js-modal-close{
	color: black;
	font-size: 20px;
	border: none;
	background-color: white;
	margin: 20px;
 }
/* Titre h3 Modal */
#title-modal{
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 26px;
	font-family: Work Sans;
	font-weight: 400;
	margin-bottom: 1px;
}

#gallery-modal {
	display: grid;
	padding: 0px;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 15px;
	border-bottom: 2px #B3B3B3 solid;
}

#gallery-modal img{
	width: 100%;
	height: 130px;
}
.fa-arrows-up-down-left-right,
.fa-trash-can {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  color: #ffffff;
  cursor: pointer;
  background: black;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 5px;
  border-radius: 6px;
}
.photo_model_efface {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;
  }

/********************** page html logIn********************** */
#mainForm {
	width: 50%;
	margin: auto;
}
#mainForm form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#container_form{
	display: flex;
    justify-content: center;
}
.login {
	width: 379px;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login-bold{
	font-weight: bold;
}
#mainForm label {
	margin: 20px 0px 0px 0px;
	display: flex;
	justify-content: center;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
}
#login-header{
	color: #1D6154;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	display: flex;
	align-items: center;
}
.login-form-oublie{
	color: #3D3D3D;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}
#container_error{
	width: 100%;
	display: flex;
	justify-content: center;
}  
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	border: none;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 179px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}
#container_oublier{
	display: flex;
	justify-content: center;
	width: 379px;
}
.footer_login{
	margin-top: 130px;
}